@import './utils/setup-box-sizing.css';
@import './pages/start-page.css';
@import './pages/jazz-club.css';
@import './pages/metal-club.css';
@import './pages/house-techno-club.css';

body {
  margin: 20px
}

nav a {
  color: white;
}

.pet {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #111;
  color: #fff;
  text-align: center;
}

header {
  padding: 2rem;
  background: linear-gradient(90deg, #4a148c, #880e4f);
}

.club-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.club {
  display: block;
  padding: 3rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.jazz {
  background: #1a237e;
}

.dance {
  background: #00695c;
}

.comedy {
  background: #f57f17;
  color: #000;
}

.theatre {
  background: #4e342e;
}

.club:hover {
  transform: scale(1.05);
}