body.metal-klubben {
  background: url('../../images/metal.jpeg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: rgba(87, 30, 30, 0.774);
  color: white;

  a {
    color: yellow;
  }
}